.log{
    /* / background-image: url("https://cdn.pixabay.com/photo/2016/11/21/15/58/wedding-1846114_1280.jpg") !important; */
    background: url("../loginback.jpg") !important;
     background-size: cover;
     height: 100vh;
     overflow: auto;
   }
   .ll{
       width: 400px;  
       overflow: hidden;  
       margin: auto;  
       margin: 20 0 0 0px;  
       padding: 80px;  
       background: #98878d;  
       border-radius: 15px ;  
       opacity: 0.7;
       width: 600px;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     }  
     .name{  
       color: #080000;  
       font-size: 17px;
       /* margin-left: auto;   */
     }  
     #xname{  
       width: 200px;  
       height: 30px;  
       border: none;  
       border-radius: 3px;  
       /* padding-left: 8px;   */
     }  
     #lname{
       padding-left: 70px;
     }
     .button2{
       padding: 10px 40px 10px 40px;
       background-color: rgb(49, 118, 49);
       border: 0px;
       border-radius: 3px;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
       position: relative;
       top: 40px;
        left: 150px;
       
       transition: all 1s;
     }
     .button2:hover{
       background-color: rgb(25, 173, 25);
       transform: scale(1.2);
     }
     #name{
       padding-right: 23px;
     }
     #name1{
       padding-right: 10px;
     }
     #lname1{
       padding-left: 70px;
       padding-right: 26px;
     }
     #lname2{
       padding-left: 70px;
       padding-right: 5px;
     }
     .log{
       background-image: url();
     }