/* .a {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  } */
/*   
  .container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    color: #333333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #1c87c9;
  }
  
  .link {
    text-align: center;
    margin-top: 10px;
  }
  
  .link a {
    text-decoration: none;
    color: #3498db;
  }
  
  .link a:hover {
    text-decoration: underline;
    color: #1c87c9;
  } */
  .logLogin{
    /* background: url("https://cdn.pixabay.com/photo/2016/11/21/15/58/wedding-1846114_1280.jpg"); */
    background: url("../loginback.jpg");
   background-size: cover;
   height: 100vh;
   overflow: auto;

  }
  .reg{
    width: 400px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #98878d;
    border-radius: 15px ;  
    opacity: 0.7;
    position: relative;
    top: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }  
  .name{  
    color: #080000;  
    font-size: 17px;  
  }  
  #uname{  
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
  }  
  #lname{
    padding-left: 70px;
  }
  .register-link1
  {
     margin-top: 30px;
  }
  .button1{
    padding: 10px 40px 10px 40px;
    background-color: rgb(49, 118, 49);
    border: 0px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: center;
    margin-top: 50px;
    top: 40px;
    left: 125px;
    
    transition: all 1s;
  }
  .button1:hover{
    background-color: rgb(25, 173, 25);
    transform: scale(1.2);
  }
  #name{
    padding-right: 23px;
  }
  #name1{
    padding-right: 10px;
  }
  #lname1{
    padding-left: 70px;
    padding-right: 26px;
  }
  #lname2{
    padding-left: 70px;
    padding-right: 5px;
  }
  #regform{
    text-align: center;
  }
  